// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
        xkb {
            layout "us"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        click-method "button-areas"
        dwt
        dwtp
        scroll-method "two-finger"
        tap-button-map "left-right-middle"
        middle-emulation
        accel-profile "adaptive"
    }

    mouse {
        accel-profile "flat"
    }

    focus-follows-mouse max-scroll-amount="90%"
    warp-mouse-to-focus
    workspace-auto-back-and-forth
}
